footer{
	color:red;
	font-size:40px;
}
p{
	color:red;
	
}
div{
	color:blue;
	font-size:40px;
}
h3{
	color:green;
	background:gray;
}
p{
	font-size:50px;
}
#p1{
	background:gray;
}
span{
	background:gray;
}